@keyframes kaizen-fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.kaizen-fadeInUp {
  animation-name: kaizen-fadeInUp;
}
