.kaizen-animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.kaizen-animated.kaizen-infinite {
  animation-iteration-count: infinite;
}

.kaizen-animated.kaizen-hinge {
  animation-duration: 2s;
}

.kaizen-animated.kaizen-flipOutX,
.kaizen-animated.kaizen-flipOutY,
.kaizen-animated.kaizen-bounceIn,
.kaizen-animated.kaizen-bounceOut {
  animation-duration: .75s;
}
