.kz-animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.kz-animated.kz-infinite {
  animation-iteration-count: infinite;
}

.kz-animated.kz-hinge {
  animation-duration: 2s;
}

.kz-animated.kz-flipOutX,
.kz-animated.kz-flipOutY,
.kz-animated.kz-bounceIn,
.kz-animated.kz-bounceOut {
  animation-duration: .75s;
}
